*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.intro{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

.bg-video video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;

}